<% u=@current_user.first %>
<div id="user">      
	<form action="logout" method="get">
 		<button type="submit" style="height:25px;width:80px;float:right"><b>退出登录</b>
 		</button>
	<label><%= u.user_name %></label>
	</form>
</div>
<div id="nav">
	<ul>
		<li><a href="new_project">新建项目</a></li>
		<li><a href="manage_project">管理项目</a></li>
                <% if @is_admin.to_i == 1 %>
                <li><a href="manage_merchant">管理商户</a></li>
		<li><a href="download">下载报表</a></li>
                <li><a href="register_merchant">注册</a></li>
                <% end %>
		<li style="margin-left:150px"><a href="query" target=_blank>照片查询</a></li>
	</ul>
</div>
<div id="banner-in">	
		<div id="list-photo">
     		&nbsp;<center><p style="color:green"><%= flash[:notice] %></p></center>
     		&nbsp;<center><p style="color:red"><%= flash[:alert] %></p></center>
               <% project=@project.first %><label>项目名称：<%= project.project_name %></label><br><br>
		     <table><tr>
			<th style="width:200px">照片</th>
			<th style="width:200px">照片标题</th>
			<th style="width:200px">照片描述</th>
			<th style="width:80px">操作</th></tr></table>
	<% @pictures.each do |p| %>
             <form>
		<table><tr>
                <td style="width:200px;height:100px" id=<%= p.id %>><img src=<%= "http://211.144.76.98:999/" + p.file_path %> style="height:100%;width:100%"/></td>
                <td style="width:200px" id=<%= p.id %>><div><%= p.title %></div></td>
		<td style="width:200px" id=<%= p.id %>><div><%= p.description %></div></td> 
		<td style="width:80px" id=<%= p.id %>><a target="_blank"  href="change_info?pic_id=<%=p.id %>">修改</a>|<a  href="delete_pic?pic_id=<%= p.id %>">删除</a></td>
		</tr></table>
        </form>
 	<% end %>
  	     </div>
	<div id="page">
	 	<a href="manage_in" title="首页" class="active">首页</a>
	 	<a href="manage_in?current_page=<%= @current_page-1 %>" title="上一页" class="active">《</a>
                <% i = @beg %>
                <% while i <= @end  do %>
                <% if i== @current_page %>
                 <a href="manage_in?current_page=<%=i%>" style="color:#0000ee;font-weight:bold" title="第<%= i %>页"><%= i %></a>

                <% else %>
                <a href="manage_in?current_page=<%=i%>" title="第<%= i %>页"><%= i %></a>
                 <% end %>
                <% i=i+1 %>
                <% end %>
	 	<a href="manage_in?current_page=<%= @current_page+1 %>" title="下一页" class="active">》</a>
	 	<a href="manage_in?current_page=<%= @max_page %>" title="尾页" class="active">尾页</a>
	</div>
	<div id="upload">	
		<fieldset style="margin-top:25px">
       		<form action="upload" method="post" enctype="multipart/form-data">
         	选择文件:
	        <input  type="file" name="pic" value="&nbsp;上传照片&nbsp;">
		照片描述:<br><br>
		照片标题:
    		<input type="text"  name="title">
		<textarea style="float:right" name="extra" rows="4" cols="50"></textarea>
		<input type="hidden" name="userid" value=<%= u.token %>>
                <input type="hidden" name="code" value=<%= project.code %>><br><br>
		<input style="margin-left:80px" type="submit" name="upload" value="开始上传">
		</form>
		</fieldset>
	</div>
	
</div>
<div id="footer">
	<p>版权归微信学习</p>
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>
