<div id="user">
	<% u=@current_user.first %>
	<form action="logout" method="get">
  		<button style="height:25px;width:80px;float:right" type="submit"><b>退出登录</b> </button>
	<label><%= u.user_name %></label>
	</form>
</div>
<div id="nav">
	<ul>
		<li><a href="new_project">新建项目</a></li>
		<li><a href="manage_project" style="background:#68acd3">管理项目</a></li>
               	<% if @is_admin.to_i == 1 %>
                <li><a href="manage_merchant">管理商户</a></li>
		<li><a href="download">下载报表</a></li>
                <li><a href="register_merchant">注册</a></li>
                <% end %>   
		<li style="margin-left:150px"><a href="query" target=_blank>照片查询</a></li>
	</ul>
</div>
<div id="banner-new">
        <div id="list"><br>
                <form action="manage_project" method="get"> 
		<input type="text" id="screen" style="height:20px;width:135px" name="user_name" placeholder="创建人"  />
		<input type="text" id="screen" style="height:20px;width:252px" name="project_name" placeholder="项目名称" >
		<input type="text" id="screen" style="height:20px;width:170px;margin-right:20px" name="code" placeholder="项目授权码">
		<input type="submit" id="screen" name="screen" style="width:50px;height:25px;margin-right:5px" value="筛&nbsp;选">
</form> 
<br>
			<table>
			<tr>
			<th style="width:135px">创建人</th>
                	<th style="width:270px">项目名称</th>
			<th style="width:170px">项目授权码</th>
			<th style="width:105px">操作</th>
			</tr>
			</table>
        	<% @projects.each do |p| %>
        		<table>
			<tr>
			<td style="width:135px" id= <%= p.id %>><%= p.merchant_id %></td>
                	<td style="width:270px" id = <%= p.id %>><%= p.project_name %></td>
                	<td style="width:170px" id = <%= p.id %>><%= p.code %></td>
                	<td style="width:105px"><a href="manage?project_id=<%= p.id %>">进入项目</a>|<a href="delete_project?project_id=<%= p.id %>">删除</a></td></tr></table>
        	<% end %>
		
	</div>	
	<div id="page">
	   
             	<a href="manage_project?user_name=<%= @u %>&&project_name=<%= @pro %>&&code=<%= @cod %>" title="首页" class="active">首页</a>
 <a href="manage_project?current_page=<%= @current_page-1 %>&&user_name=<%= @u %>&&project_name=<%= @pro %>&&code=<%= @cod %>" title="上一页" class="active">《</a>
                <% i = @beg %>
                <% while i <= @end  do %> 
                <% if i== @current_page %>
               <a href="manage_project?current_page=<%=i%>&&user_name=<%= @u %>&&project_name=<%= @pro %>&&code=<%= @cod %>" style="color:#0000ee;font-weight:bold" title="第<%= i %>页"><%= i %></a>

                <% else %>

 		<a href="manage_project?current_page=<%=i%>&&user_name=<%= @u %>&&project_name=<%= @pro %>&&code=<%= @cod %>" title="第<%= i %>页"><%= i %></a>
                <% end %>
		<% i=i+1 %>
                <% end %>
 		<a href="manage_project?current_page=<%= @current_page+1 %>&&user_name=<%= @u %>&&project_name=<%= @pro %>&&code=<%= @cod %>" title="下一页" class="active">》</a>
 		<a href="manage_project?current_page=<%= @max_page %>&&user_name=<%= @u %>&&project_name=<%= @pro %>&&code=<%= @cod %>" title="尾页" class="active">尾页</a>
                <br><br>
	</div>
</div>
<div id="footer">
	<p>版权归微信学习</p>
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>
