<div id="user">
	<% u=@current_user.first %>
	<form action="logout" method="get">
  		<button style="height:25px;width:80px;float:right" type="submit"><b>退出登录</b> </button>
	<label><%= u.user_name %></label>
	</form>
</div>
<div id="nav">
	<ul>
		<li><a href="new_project">新建项目</a></li>
		<li><a href="manage_project" style="background:#68acd3">管理项目</a></li>
               	<% if @is_admin.to_i == 1 %>
                <li><a href="manage_merchant">管理商户</a></li>
		<li><a href="download">下载报表</a></li>
                <% end %>   
		<li style="margin-left:150px"><a href="query" target=_blank>照片查询</a></li>
	</ul>
</div>
<div id="banner-new">
        <div id="list"><br>
                <form>
			<table>
			<tr>
                	<th style="width:260px">项目名称</th>
			<th style="width:220px">项目授权码</th>
			<th style="width:200px">操作</th>
			</tr>
			</table>
        	<% @projects.each do |p| %>
        		<table>
			<tr>
                	<td style="width:260px" id = <%= p.id %>><%= p.project_name %></td>
                	<td style="width:220px" id = <%= p.id %>><%= p.code %></td>
                	<td style="width:200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="manage?project_id=<%= p.id %>">进入项目</a>|<a href="delete_project?project_id=<%= p.id %>">删除</a></td></tr></table>
        	<% end %>
		</form>
	</div>	
	<div id="page">
		<ul>
        	<li class="page-first"><a href="manage_project" title="首页" class="active">首页</a></li>
 		<li class="page-pro"><a href="manage_project?current_page=<%= @current_page-1 %>" title="上一页" class="active">《</a></li>
                <% i = @current_page %>
                <% while i <= @current_page +9 do %> 
                
 		<li><a href="manage_project>current_page=<%=i%>" title="第<%= i %>页"><%= i %></a></li>
                <% i=i+1 %>
                <% end %>
 		<li class="page-next"><a href="manage_project?current_page=<%= @current_page+1 %>" title="下一页" class="active">》</a></li>
 		<li class="page-item"><a href="manage_project?current_page=<%= @max_page %>" title="尾页" class="active">尾页</a></li>
		<ul>
	</div>
</div>
<div id="footer">
	<p>版权归微信学习</p>
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>
