<div id="user">
        <% u=@current_user.first %>
        <label><%= u.user_name %></label>
<form action="logout" method="get">
  <button style="height:25px;width:80px" type="submit"><b>退出登录</b> </button>
</form>
</div>

<div id="nav">
        <ul>
                <li><a href="new_project">新建项目</a></li>
                <li><a href="manage_project">管理项目</a></li>
                <li><a href="manage_merchant">管理商户</a></li>
                <li><a href="download">下载报表</a></li>
                <li><a href="register">注册商户</a></li>
                <li style="margin-left:150px"><a href="query">照片查询</a></li>
        </ul>
</div>
<div id="banner-new">

    <div id="list"><br>
        <center><p style="color:green"><%= flash[:notice] %></p></center>  
        <center><p style="color:red"><%= flash[:alert] %></p></center>

    	<form>用户名<label style="margin-left:100px;margin-right:105px">地点码</label>商户店名<label style="margin-left:85px">公司名称</label>
        <br>
        <br>   
    	<% @merchants.each do |m| %>
        <form action="chang_merchant?mer_id=<%= m.id %>" method="post"> 
    
	<div id="list-item">
	 <div style="width:150px"><%= m.user_name %></div>
	 <div style="width:150px"><%= m.loc_name %></div>
 	 <div style="width:150px"><%= m.office_name %></div>
       	 <div style="width:170px"><%= m.corp_name %></div>
         <a href="change_merchant?mer_id=<%= m.id %>" target="_blank">修改</a>&nbsp;|
         <a href="delete_merchant?mer_id=<%= m.id %>">删除</a>
	
	<br><br>
	</div>
        <% end %>
	</form>
    </div>
	
    <div id="page">
	<ul>
  	 <li class="page-first"><a href="manage_merchant" title="首页" class="active">1</a></li>
 	 <li class="page-pro"><a href="manage_merchant?current_page=<%= @current_page-1 %>" title="前一页" class="active">《</a></li>
 	 <li><a href="#" title="当前页" ><%= @current_page %></a></li>
 	 <li class="page-next"><a href="manage_merchant?current_page=<%= @current_page+1 %>" title="下一页" class="active">》</a></li>
 	<li class="page-item"><a href="manage_merchant?current_page=<%= @max_page %>" title="最后一页" class="active"><%= @max_page %></a></li>
        <ul>
    </div>
</div>
<div id="footer">
        <p>版权归微信学习</p>
 <p>微信信息：关于我们、关于产品、我们的服务</p>
</div>

