<div id="user">
        <% u=@current_user.first %>
       <form action="logout" method="get" >
            <button style="height:25px;width:80px;float:right" type="submit" ><b>退出
登录</b></button>
        <label><%= u.user_name %></label>
        </form>
</div>

<div id="nav">
	<ul>
	 <li><a href="new_project">新建
项目</a></li>
                <li><a href="manage_project">管理项目</a></li>
                <li><a href="manage_merchant">管理商户</a></li>
                <li><a href="download">下载报表</a></li>

                <li style="margin-left:150px"><a href="query" target=_blank>照片查询</a></li>
</ul>
</div>

<div id="banner">
	<div id="login">
	<form 
	 name="form_user" method="post" action="reset" enctype="multipart/form-data">
        项目经理:<label style="margin-left:12px"><%= @merchant.first.user_name %></label><br><br>
	密<label style="margin-left:32px">码:</label>
   
   <input type="text" id="password" name="password"style="height:25px;width:130px">
        <br><br> 
	确认密码:
<input type="password" id="password" name="repassword"style="height:25px;width:130px"> 
      &nbsp;<center><p style="color:red"><%= flash[:alert]%></p></center>             &nbsp;<center><p style="color:green"><%= flash[:notice]%></p></center>	
                <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="hidden" name="mer_id" value="<%= @merchant.first.id %>">
<input id="btn_submit" type="submit" name="login"style="height:25px;width:70px" value="重&nbsp;&nbsp;置&nbsp;">
	</form>
	</div>
</div>

<div id="content">

</div>

<div id="footer">
	<p>版权归微信学习</p>
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>
